.btn-blue {
	background-color: #ceffd3;
    padding: 10px 15px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
    font-family: "McLaren", sans-serif;
    text-decoration: none;
    align-content: center;
   
}
